.promofocus {
  margin-bottom: 50px;
}
.progress {
  border-radius: 2px;
  width: 100%;
  height: 2px;
  margin-bottom: 40px;
}

.progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
}

.progress::-webkit-progress-value {
  background-color: #fff;
}

.timer {
  max-width: 480px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.clock {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 120px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 700;
  color: #fff;
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  background: none rgba(0, 0, 0, 0.15);
}

.main-button {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: var(--pomodoro);
  font-weight: bold;
  width: 200px;
  background-color: white;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus,
button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.timer-button {
  position: relative;
}

.btn-next {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 45px;
  top: 65%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: initial;
  transition: .4s;
  opacity: 0;
}

.btn-next:hover {
  opacity: .9;
}

.btn-next_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
