.popup {
  display: flex;
  justify-content: space-between;
  width: 300px;
  background-color: var(--white-color);
  padding: 12px;
  position: fixed;
  top: 40px;
  right: 12px;
  backdrop-filter: blur(5px);
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup-success {
  border-left: 5px solid var(--green-color);
}

.popup-error {
  border-left: 5px solid var(--error-color);
}

.popup-title {
  text-transform: capitalize;
}

.popup-success .popup-title {
  color: var(--green-color);
}

.popup-error .popup-title {
  color: var(--error-color);
}

.popup-close {
  height: 20px;
  width: 23px;
  background: transparent;
  font-size: 24px;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}

.popup-message {
  font-size: var(--xs-font-size);
  color: var(--text-black-color);
  font-weight: var(--text-font-weight);
  margin-top: 8px;
}
